* {
  color: black;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 980px;
  margin: auto;
}

.headerRow {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-search {
  margin: auto 20px auto auto;
}
.header-search__input {
  width: 200px;
  height: 26px;
}
.header-search__button {
  width: 40px;
  height: 30px;
  background-color: #9B51E0;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-left: -5px;
}

.listMenu {
  display: flex;
  justify-content: space-around;
}
.listMenu__item {
  flex-grow: 1;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.listMenu__item:hover {
  background-color: #FFC740;
}
.listMenu__item:hover > a {
  color: white;
}

.banner {
  margin-top: 2rem;
  height: 20rem;
  background: url(../img/Mountains-and-hills-julian-alps.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
}
.banner-description {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 2rem auto auto 2rem;
}
.banner-description__title {
  font-size: 4rem;
  color: #FFC740;
}
.banner-description__text {
  color: white;
}
.banner-description__button {
  margin-top: 1rem;
  width: 7rem;
  height: 2rem;
  background-color: #9B51E0;
  color: white;
  border: none;
  text-transform: uppercase;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article {
  margin-top: 2rem;
  width: 46%;
  display: flex;
  flex-direction: column;
}
.articleMain {
  margin-top: 1rem;
  display: flex;
  height: 100%;
}
.article-ava {
  padding: 1px;
  border: 2px solid #FFC740;
}
.articleContent {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.articleContent__text {
  overflow: auto;
  max-height: 120px;
}
.articleContent__more, .articleContent__tags {
  margin-top: auto;
}
.articleContent__more {
  text-decoration: underline;
}
.article-list__item {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.article-list__item__img {
  height: 45px;
  width: 70px;
  margin-right: 1rem;
}
.article-list__item__content__title {
  font-weight: normal;
  text-transform: uppercase;
}

.block-header {
  display: flex;
}
.block-header__text {
  margin-left: 2rem;
  background-color: white;
  text-transform: uppercase;
}
.block-header-bgsecond {
  background-color: #9B51E0;
}
.block-header-bgfirst {
  background-color: #FFC740;
}

.articlesServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleServices {
  width: 30%;
}
.articleServicesContent {
  margin: 0;
}

.technologies {
  margin: 2rem auto;
}
.technologiesList {
  margin-top: 1rem;
  justify-content: space-around;
  display: flex;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #9B51E0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-copyright {
  color: white;
}

@media (max-width: 980px) {
  .container {
    width: 100%;
  }

  .articleContent__text {
    overflow: hidden;
  }

  .logo {
    margin-left: 20px;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  .banner {
    height: 15rem;
  }
  .banner-description {
    width: 80%;
  }
  .banner-description__title {
    font-size: 2rem;
  }

  .article {
    margin-top: 2rem !important;
    width: 80%;
    margin: auto;
  }
  .articleContent {
    min-height: 100px;
  }

  .technologies {
    margin: 2rem auto;
    width: 80%;
  }
  .technologiesList {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=styles.css.map */
